p 
{ 
 background-color: cornflowerblue; 
 color: rgb(129, 185, 37); 
} 
#x
{ 
 background-color: rgba(172, 88, 60, 0.473); 
 color: rgb(54, 163, 190); 
} 
.y
{ 
 color: rgb(64, 66, 175); 
} 
.z
{ 
 background-color: rgb(94, 233, 152); 
}